<h1>Feriados</h1>
<p class="lead">Esta p&aacute;gina obtiene información de los días feriados de Chile desde</p>
<p class="lead">
  <a href="https://apis.digital.gob.cl/fl/" class="btn btn-lg btn-secondary fw-bold border-white bg-white" target="_blank" rel="noopener noreferrer">API Feriados legales de Chile</a>
</p>