<footer class="mt-auto text-white-50">
  <p>Feriados <%= Time.now.strftime("%Y") %> by <a href="https://www.linkedin.com/in/jaime-perez-bordillo" class="text-white" target="_blank" rel="noopener noreferrer">Jaime P&eacute;rez Bordillo</a>.</p>
</footer>